<footer class="site-footer ui segment">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
<!--          <li>{{ site.title }}</li>-->
<!--  s-->
          <li><a href="http://www.icslab.eu">{{ site.url }}</a></li>
          <li>
            <ul class="social-media-list">
                {% if site.github_username %}
                <li>
                    {% include icon-github.html username=site.github_username %}
                </li>
                {% endif %}
             </ul>
            </li>
          </ul>
      </div>

      <div class="footer-col footer-col-3">
<!--        <p>{{ site.description }}</p>-->
         <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
       
      </div>
    </div>

  </div>

</footer>
