<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
<!--  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">-->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    
 <link rel="stylesheet" type="text/css" href="/css/das-site.css">
 <link rel="stylesheet" type="text/css" href="/css/semantic.css">
 <link rel="stylesheet" type="text/css" href="/semantic/dist/components/icon.css">
 <link rel="stylesheet" type="text/css" href="/semantic/dist/themes/default/assets/fonts/icons.woff">    
 <link rel="stylesheet" type="text/css" href="/semantic/dist/themes/default/assets/fonts/icons.woff2">
 <link rel="stylesheet" type="text/css" href="/semantic/dist/themes/default/assets/fonts/icons.ttf">
    
<!--facebook configs:-->
    
<meta content="{{ site.title }}" property="og:site_name">
{% if page.title %}
  <meta content="{{ page.title }}" property="og:title">
{% else %}
  <meta content="{{ site.title }}" property="og:title">
{% endif %}

<meta content="article" property="og:type">

{% if page.content %}
  <meta content="{{ page.content | strip_html | condense_spaces | truncate:300 }}" property="og:description">
{% else %}
  <meta content="{{ site.description }}" property="og:description">
{% endif %}
{% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
{% endif %}
{% if page.images %}
  <meta content="{{ site.url }}{{ page.images[0].url }}" property="og:image">
{% else %}
  <meta content="/assets/images/logo-1-fb.png" property="og:image"> 
{% endif %}
{% if page.categories %}
  {% for category in page.categories limit:1 %}
  <meta content="{{ category }}" property="article:section">
  {% endfor %}
{% endif %}
{% if page.tags %}
  {% for tag in page.tags %}
  <meta content="{{ tag }}" property="article:tag">
  {% endfor %}
{% endif %}
    
<!--end facebook configs-->
    
</head>