<header class="ui secondary inverted segment">

  <div class="wrapper">
  
      <div class="ui vertically divided grid">
        <div class="two column row">
         <div class="column">
            <img class="ui small image" src="/assets/images/blog-icon.png">
      
            <section>
                <div class="ui inverted container">
                    <div class="ui text container">
                        <h1>{{ site.title }}</h1>
                    </div>   
                </div>
              </section>
            </div>
            
           <div class="column">
                <nav class="ui large secondary inverted poiting menu">
                  <div class="right item">
<!--                    add home page link  -->
                    <a class="item" href="{{ site.baseurl }}/blog">Home</a>
                   
<!--                    add links to the other pages-->
         <!--           {% for my_page in site.pages %}
                    {% if my_page.title %}
                    <a class="item" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                    {% endif %}
                    {% endfor %}
             -->         
                    <a class="item" href="{{ site.baseurl }}/about">About</a>  
                    <a class="item" href="{{ site.baseurl }}/tags">Tags</a>  
                      
                  </div>
                </nav>
		      </div>
      </div>
  
  </div>

</header>
