---
layout: default
---

<div class="ui container">
    <section>
    <!-- This loops through the paginated posts -->
        <div class="ui grid">
            <p></p>
            {% assign i = true %}

            {% for post in paginator.posts %}
            
            <!-- Create a row for each post-->
               <div class="row">

                {% if i %}
                    {% assign i = false %}
                    <div class="left floated ten wide mobile column">
                        {% include item-post.html %}
                    </div>

               {% else %}
                    {% assign i = true %}
                    <div class="right floated ten wide mobile column">
                        {% include item-post.html %}
                    </div>
                
                {% endif %}
                </div>

        {% endfor %}    

        </div>
    </section>
    
    </br>
    <div class="ui divider"></div>
    </br>

    <section>
        <div class="ui container">
            <div class="ui two column middle aligned grid">
                <div class="right aligned column">
                    {% if paginator.previous_page %}
                        <a href="{{ paginator.previous_page_path }}" class="ui orange basic button">Previous page</a>
                    {% else %} 
                        <a href="{{ paginator.previous_page_path }}" class="ui orange basic button disabled" >Previous page</a>
                    {% endif %}
                </div>

                <div class="left aligned column">
                    {% if paginator.next_page %}
                        <a href="{{ paginator.next_page_path }}" class="ui orange basic button">Next page</a>
                    {% else %} 
                        <a href="{{ paginator.next_page_path }}" class="ui orange basic button disabled" >Next page</a>
                    {% endif %}
                </div>


            </div>
        </div>
    </section>
        
</div>
