---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    
  <header class="post-header">
    <section>
        <div class="ui text container">
            <h1>{{ page.title }}</h1>
        </div>
    </section>
      
      <p class="post-meta">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
          {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
            
          <div class="ui tag labels">
            {% for tag in page.tags %}
                <a class="ui orange label" href="/tags#{{ tag }}">{{ tag }}</a>
            {% endfor %}
          </div>
      </p>
  </header>

<br/>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>  


{% include social-share.html %}
   
<br/>
<div class="ui divider"></div>
<br/>

<div class="ui four column grid">
  <div class="row">
      <div class="column"></div>
      <div class="column">
          <!-- Previous / Next post -->
          {% if page.previous %}
            <p style="font-size:90%">      
                <button class="ui orange basic button" 
                        onclick="location.href='{{ page.previous.url }}';">Previous article</button>
            </p>
          {% endif %}
       </div>
      
      <div class="column">
        {% if page.next %}
            <p style="font-size:90%">
                <button class="ui orange basic button" 
                        onclick="location.href='{{ page.next.url }}';">Next article</button>
            </p>
          {% endif %}
      </div>
      <div class="column"></div>
    </div>
</div>


</article>